@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
 --beige: #F6F4F0;
 --gold: #CBB279;
 --graphite: #3B3A39;
}


body {
 @apply bg-[#F6F4F0] text-[#3B3A39];
 font-family: 'Poppins', sans-serif;
 font-weight: 300;
}


h1, h2, h3, h4, h5, h6 {
 font-family: 'Playfair Display', serif;
 font-weight: 600;
}


.heading-font {
 font-family: 'Playfair Display', serif;
}


.body-font {
 font-family: 'Poppins', sans-serif;
}
